# fprime items
logs/
cmake-build-*
build-artifacts/
build-fprime-*
*-template
*.template.cpp
*.template.hpp

# Misc
/venv/
/.venv/
/fprime-venv/
/.idea/
/.vscode/
.DS_Store
*.gcov

SoakDeployment/test/int/__pycache__/

# ComLogger Files
*.com
*.CRC32
